@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
	:root {
		/* Browser area before a page starts loading */
		--gnome-browser-before-load-background: #353535;

		/* Toolbars */
		--gnome-toolbar-background: #282828;	
		--gnome-toolbar-color: #ffffff;
		--gnome-toolbar-border-color: #1b1b1b;
		--gnome-toolbar-icon-fill: #eeeeec;
		--gnome-inactive-toolbar-color: #919190;
		--gnome-inactive-toolbar-background: #353535;	
		--gnome-inactive-toolbar-border-color: #202020;
		--gnome-inactive-toolbar-icon-fill: #919190;

		/* Sidebar */
		--gnome-sidebar-background: #313131;
		--gnome-inactive-sidebar-background: #323232;

		/* Popups */
		--gnome-menu-background: #2f2f2f;
		--gnome-menu-border-color: #1b1b1b;
		--gnome-popover-background: #353535;
		--gnome-popover-border-color: #1b1b1b;
		--gnome-popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		--gnome-popover-button-hover-background: #424242;
		--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

		/* Header bar */
		--gnome-headerbar-background: #313131;
		--gnome-headerbar-border-color: #202020;
		--gnome-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);
		--gnome-inactive-headerbar-background: #292929;
		--gnome-inactive-headerbar-border-color: #202020;
		--gnome-inactive-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);

		/* Buttons */	
		--gnome-button-background: transparent;
		--gnome-button-border-color: transparent;
		--gnome-button-border-accent-color: transparent;	
		--gnome-button-box-shadow: none;	
		--gnome-button-hover-background: linear-gradient(to top, #323232, #373737 1px);	
		--gnome-button-active-background: transparent;
		--gnome-button-active-border-color: transparent;
		--gnome-button-active-border-accent-color: transparent;
		--gnome-button-active-box-shadow: none;	
		--gnome-button-disabled-background: transparent;
		--gnome-button-disabled-border-color: transparent;
		--gnome-button-disabled-box-shadow: none;
		--gnome-inactive-button-background: transparent;
		--gnome-inactive-button-border-color: transparent;
		--gnome-inactive-button-box-shadow: none;
		--gnome-button-suggested-action-background: transparent;
		--gnome-button-suggested-action-border-color: transparent;
		--gnome-button-suggested-action-border-accent-color: #092444;
		--gnome-button-suggested-action-box-shadow: none;
		--gnome-button-suggested-action-hover-background: linear-gradient(to top, #155099, #1655a2 1px);
		--gnome-button-suggested-action-active-background: transparent;
		--gnome-button-suggested-action-active-border-color: transparent;
		--gnome-button-suggested-action-active-box-shadow: none;	
		--gnome-button-destructive-action-background: linear-gradient(to top, #ae151c 2px, #b2161d);
		--gnome-button-destructive-action-border-color: transparent;
		--gnome-button-destructive-action-border-accent-color: #570b0e;
		--gnome-button-destructive-action-box-shadow: none;
		--gnome-button-destructive-action-hover-background: linear-gradient(to top, #ae151c, #b7161d 1px);
		--gnome-button-destructive-action-active-background: #8a1116;
		--gnome-button-destructive-action-active-border-color: #851015;
		--gnome-button-destructive-action-active-box-shadow: none;

		/* Entries */
		--gnome-entry-background: #383838;
		--gnome-entry-border-color: transparent;
		--gnome-entry-box-shadow: none;
		--gnome-entry-color: #ffffff;
		--gnome-inactive-entry-background: #2d2d2d;
		--gnome-inactive-entry-border-color: transparent;
		--gnome-inactive-entry-box-shadow: none;
		--gnome-inactive-entry-color: #d6d6d6;
		--gnome-focused-urlbar-border-color: #8ab4f8;

		/* Switch */
		--gnome-switch-background: #282828;
		--gnome-switch-border-color: #1b1b1b;
		--gnome-switch-slider-background: linear-gradient(to bottom, #3c3c3c 20%, #353535 90%);
		--gnome-switch-slider-border-color: #111111;
		--gnome-switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);	
		--gnome-switch-active-background: #8ab4f8;
		--gnome-switch-active-border-color: #030c17;
		--gnome-switch-active-slider-border-color: #030c17;

		/* Tabs */
		--gnome-tabbar-tab-color: #9f9f9f;
		--gnome-tabbar-tab-background: #181818;
		--gnome-tabbar-tab-border-color: #353535;
		--gnome-tabbar-tab-hover-background: #262626;
		--gnome-tabbar-tab-hover-border-bottom-color: #3d3d3d;
		--gnome-tabbar-tab-hover-color: #a4a4a4 ;
		--gnome-tabbar-tab-active-background: #292929;
		--gnome-tabbar-tab-active-background-contrast: #4c4c4c;
		--gnome-tabbar-tab-active-border-bottom-color: #8ab4f8;
		--gnome-tabbar-tab-active-border-bottom-color-contrast: #8ab4f8;
		--gnome-tabbar-tab-active-color: #ffffff;
		--gnome-tabbar-tab-active-hover-background: #292929;
		--gnome-inactive-tabbar-tab-color: #9f9f9f;
		--gnome-inactive-tabbar-tab-background: #181818;
		--gnome-inactive-tabbar-tab-active-background: #292929;
		--gnome-inactive-tabbar-tab-active-border-bottom-color: #8ab4f8;
		--gnome-inactive-tabbar-tab-active-color: rgb(141, 144, 145);  
	}
	
	/* Private window colors */
	:root {
		/* Header bar */
		--gnome-private-headerbar-background: linear-gradient(to top, rgb(81, 44, 109), rgb(86, 47, 116));
		--gnome-private-headerbar-border-color: rgb(49, 27, 66);
		--gnome-private-headerbar-box-shadow: 0 1px rgba(255, 255, 255, .07) inset;
		--gnome-private-inactive-headerbar-background: #613583;
		--gnome-private-inactive-headerbar-border-color: rgb(77, 41, 102);
		--gnome-private-inactive-headerbar-box-shadow: var(--gnome-private-headerbar-box-shadow);

		/* Buttons */	
		--gnome-private-button-background: transparent;
		--gnome-private-button-border-color: transparent;
		--gnome-private-button-border-accent-color: transparent;
		--gnome-private-button-box-shadow: none;
		--gnome-private-button-hover-background: linear-gradient(to top, rgb(94, 52, 127), rgb(100, 54, 135) 1px);
		--gnome-private-button-active-background: transparent;
		--gnome-private-button-active-border-color: transparent;
		--gnome-private-button-active-border-accent-color: transparent;
		--gnome-private-button-active-box-shadow: none;	
		--gnome-private-button-disabled-background: transparent;
		--gnome-private-button-disabled-border-color: transparent;
		--gnome-private-button-disabled-box-shadow: none;
		--gnome-private-inactive-button-background: transparent;
		--gnome-private-inactive-button-border-color: transparent;
		--gnome-private-inactive-button-box-shadow: none;

		/* Entries */
		--gnome-private-entry-border-color: transparent;
		--gnome-private-focused-urlbar-border-color: rgb(158, 70, 224);
		
		/* Tabs */
		--gnome-private-tabbar-tab-active-border-bottom-color: rgb(158, 70, 224);
	}
}
