@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {	
	/* Browser area before a page starts loading */
	--gnome-browser-before-load-background: #ffffff;

	/* Toolbars */
	--gnome-toolbar-background: #e0ddda;	
	--gnome-toolbar-color: rgb(46, 52, 54);
	--gnome-toolbar-border-color: #b6b6b3;
	--gnome-toolbar-icon-fill: #5a5a5a;
	--gnome-inactive-toolbar-background: #f6f5f4;	
	--gnome-inactive-toolbar-color: #d5d0cc;
	--gnome-inactive-toolbar-border-color: #d5d0cc;
	--gnome-inactive-toolbar-icon-fill: #858585;

	/* Sidebar */
	--gnome-sidebar-background: #fbfafa;
	--gnome-inactive-sidebar-background: #f9f9f8;

	/* Popups */
	--gnome-menu-background: #ffffff;
	--gnome-menu-border-color: #cdc7c2;
	--gnome-popover-background: #f6f5f4;
	--gnome-popover-border-color: #cdc7c2;
	--gnome-popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	--gnome-popover-button-hover-background: #ffffff;
	--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

	/* Header bar */
	--gnome-headerbar-background: #dfdfdf;
	--gnome-headerbar-border-color: #bdb7b0;
	--gnome-headerbar-box-shadow: 0 -1px rgb(217, 217, 217) inset, 0 1px #fff inset;
	--gnome-inactive-headerbar-background: #d6d6d6;
	--gnome-inactive-headerbar-border-color: #d5d0cc;
	--gnome-inactive-headerbar-box-shadow: 0 1px #fff inset;

	/* Buttons */
	--gnome-button-background: transparent;
	--gnome-button-border-color: transparent;
	--gnome-button-border-accent-color: transparent;
	--gnome-button-box-shadow: none;
	--gnome-button-hover-background: #eaeaea;
	--gnome-button-active-background: transparent;
	--gnome-button-active-border-color: transparent;
	--gnome-button-active-border-accent-color: transparent;
	--gnome-button-active-box-shadow: none;
	--gnome-button-disabled-background: transparent;
	--gnome-button-disabled-border-color: transparent;
	--gnome-button-disabled-box-shadow: transparent;
	--gnome-inactive-button-background: transparent;
	--gnome-inactive-button-border-color: transparent;
	--gnome-inactive-button-box-shadow: none;
	--gnome-button-suggested-action-background: transparent;
	--gnome-button-suggested-action-border-color: transparent;
	--gnome-button-suggested-action-border-accent-color: transparent;
	--gnome-button-suggested-action-box-shadow: none;
	--gnome-button-suggested-action-hover-background: #1a73e8;
	--gnome-button-suggested-action-active-background: transparent;
	--gnome-button-suggested-action-active-border-color: transparent;
	--gnome-button-suggested-action-active-box-shadow: none;	
	--gnome-button-destructive-action-background: linear-gradient(to top, #ce1921 2px, #e01b24);
	--gnome-button-destructive-action-border-color: transparent;
	--gnome-button-destructive-action-border-accent-color: #851015;
	--gnome-button-destructive-action-box-shadow: none;
	--gnome-button-destructive-action-hover-background: linear-gradient(to top, #e01b24, #e41c26 1px);
	--gnome-button-destructive-action-active-background: #a0131a;
	--gnome-button-destructive-action-active-border-color: #b2161d;
	--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

	/* Entries */
	--gnome-entry-background: #d6d6d6;
	--gnome-entry-border-color: transparent;
	--gnome-entry-box-shadow: none;
	--gnome-entry-color: #020202;
	--gnome-inactive-entry-background: #d6d6d6;
	--gnome-inactive-entry-border-color: transparent;
	--gnome-inactive-entry-box-shadow: none;
	--gnome-inactive-entry-color: #323232;
	--gnome-focused-urlbar-border-color: #1a73e8;
	
	/* Switch */
	--gnome-switch-background: #e1dedb;
	--gnome-switch-border-color: #cdc7c2;
	--gnome-switch-slider-background: linear-gradient(to bottom, white 10%, white 90%);
	--gnome-switch-slider-border-color: #bfb8b1;
	--gnome-switch-slider-box-shadow: inset 0 1px white, 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);	
	--gnome-switch-active-background: #1a73e8;
	--gnome-switch-active-border-color: #1a73e8;
	--gnome-switch-active-slider-border-color: #1a73e8;

	/* Tabs */
	--gnome-tabbar-tab-color: #737373;
	--gnome-tabbar-tab-background: #f2f2f2;
	--gnome-tabbar-tab-border-color: #d8d8d8;
	--gnome-tabbar-tab-hover-background: #e8e8e8;
	--gnome-tabbar-tab-hover-border-bottom-color: #cfcfcf;
	--gnome-tabbar-tab-hover-color: var(--gnome-tabbar-tab-color);
	--gnome-tabbar-tab-active-background: #ffffff;
	--gnome-tabbar-tab-active-background-contrast: #ffffff;
	--gnome-tabbar-tab-active-border-bottom-color: #1a73e8;
	--gnome-tabbar-tab-active-border-bottom-color-contrast: #1a73e8;
	--gnome-tabbar-tab-active-color: #292929;
	--gnome-tabbar-tab-active-hover-background: var(--gnome-tabbar-tab-active-background);
	--gnome-inactive-tabbar-tab-color: var(--gnome-tabbar-tab-color);
	--gnome-inactive-tabbar-tab-background: var(--gnome-tabbar-tab-background);
	--gnome-inactive-tabbar-tab-active-background: var(--gnome-tabbar-tab-active-background);
	--gnome-inactive-tabbar-tab-active-border-bottom-color: var(--gnome-tabbar-tab-active-border-bottom-color);
	--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
}

/* Private window colors */
:root {
	/* Header bar */
	--gnome-private-headerbar-background: linear-gradient(to top, rgb(206, 191, 219), rgb(214, 201, 255));
	--gnome-private-headerbar-border-color: rgb(176, 152, 197);
	--gnome-private-headerbar-box-shadow: 0 1px rgba(255, 255, 255, .8) inset;
	--gnome-private-inactive-headerbar-background: #ECE6F1;
	--gnome-private-inactive-headerbar-border-color: rgb(200, 183, 215);
	--gnome-private-inactive-headerbar-box-shadow: var(--gnome-private-headerbar-box-shadow);
	
	/* Buttons */	
	--gnome-private-button-background: linear-gradient(to top, rgb(226, 217, 234) 2px, rgb(236, 230, 241));
	--gnome-private-button-border-color: rgb(191, 171, 208);
	--gnome-private-button-border-accent-color: rgb(179, 152, 197);
	--gnome-private-button-box-shadow: 0 1px rgba(255, 255, 255, .8) inset, 0 1px 2px rgba(0, 0, 0, .07);
	--gnome-private-button-hover-background: linear-gradient(to top, rgb(236, 230, 241), rgb(238, 233, 243) 1px);
	--gnome-private-button-active-background: rgb(194, 174, 210);
	--gnome-private-button-active-border-color: rgb(184, 161, 203);
	--gnome-private-button-active-border-accent-color: rgb(171, 145, 194);
	--gnome-private-button-active-box-shadow: 0 1px rgba(255, 255, 255, 0) inset;
	--gnome-private-button-disabled-background: #ECE6F1;
	--gnome-private-button-disabled-border-color: rgb(200, 183, 215);
	--gnome-private-button-disabled-box-shadow:  0 1px rgba(255, 255, 255, 0) inset;
	--gnome-private-inactive-button-background: #ECE6F1;
	--gnome-private-inactive-button-border-color: rgb(200, 183, 215);
	--gnome-private-inactive-button-box-shadow:  0 1px rgba(255, 255, 255, 0) inset;
	
	/* Entries */
	--gnome-private-entry-border-color: rgb(191, 171, 208);
	--gnome-private-focused-urlbar-border-color: rgb(132, 77, 179);
	
	/* Tabs */
	--gnome-private-tabbar-tab-active-border-bottom-color: rgb(132, 77, 179);
}
